<header>
    <ul>
      <div class="logo">
        <a href="/"><img src="preshlogo.png" height="250px" width="120px" alt="Presh'N'cake"></a>
      </div>
      <li><a href="/">Home</a></li>
      <li><a href="/about">About</a></li>
      <li><a href="/services">Services</a></li>
      <li><a href="/gallery">gallery</a></li>
      <li class="headerbttn"><a href="/contactUs" class="headerbtn">contact us</a></li>
      </ul>
    </div>
</header>
