<%- include('partials/header'); -%>

<%- include('partials/nav'); -%>

<body class="body">
   <div class="contact">
        <h1>
            contact us
        </h1>
        <p>
            contact us
        </p>
   </div>
    
    

        
   
</body>




<%- include('partials/footer'); -%>